{% extends "orders/base.html" %}

{% block head %}  
  <script>
    function categoryChange() {
        var category = document.getElementById("categorySelect").value;
        if (category === 'Pizza') {
            showsizes();
            showpizzatypes();
            showtoppings();
        }
        else if (category === 'Pasta') {
          showpastas();
          document.getElementById("seconddiv").innerHTML = '';
          document.getElementById("thirddiv").innerHTML = '';
        }
        else if (category === 'Sub') {
          showsizes();
          showsubs();
          document.getElementById("thirddiv").innerHTML = '';
        }
        else if (category === 'Salad') {
          showsalads();
          document.getElementById("seconddiv").innerHTML = '';
          document.getElementById("thirddiv").innerHTML = '';
        }
        else if (category === 'Dinner Platter') {
          showsizes();
          showdinnerplatters();
          document.getElementById("thirddiv").innerHTML = '';
        }
        //alert(`${category}`);
    };

    function showsubs() {
      var subhtml;
      if (document.getElementById("selectsizes").value === 'Small') {
        subhtml = ` <h3> Sub <h3> 
      <select form="addtocartform" name="seconddiv">
          {% for smallsub in smallsubs %}
            <option value="{{ smallsub }}">{{ smallsub }}</option>
          {% endfor %}
        </select>`;
      }
      else {
        subhtml = ` <h3> Sub <h3> 
      <select form="addtocartform" name="seconddiv">
          {% for largesub in largesubs %}
            <option value="{{ largesub }}">{{ largesub }}</option>
          {% endfor %}
        </select>`;
      }
        document.getElementById("seconddiv").innerHTML = subhtml;
    };


    function showdinnerplatters() {
      var dinnerplatterhtml;
      if (document.getElementById("selectsizes").value === 'Small') {
        dinnerplatterhtml = ` <h3> Dinner Platter <h3> 
      <select form="addtocartform" name="seconddiv">
          {% for smalldinnerplatter in smalldinnerplatters %}
            <option value="{{ smalldinnerplatter }}">{{ smalldinnerplatter }}</option>
          {% endfor %}
        </select>`;
      }
      else {
        dinnerplatterhtml = ` <h3> Dinner Platter <h3> 
      <select form="addtocartform" name="seconddiv">
          {% for largedinnerplatter in largedinnerplatters %}
            <option value="{{ largedinnerplatter }}">{{ largedinnerplatter }}</option>
          {% endfor %}
        </select>`;
      }
        document.getElementById("seconddiv").innerHTML = dinnerplatterhtml;
    };
    function showpastas() {
    var pastashtml = ` <h3> Pasta <h3> 
      <select form="addtocartform" name="firstdiv">
          {% for pasta in pastas %}
            <option value="{{ pasta }}">{{ pasta }}</option>
          {% endfor %}
        </select>`;
        document.getElementById("firstdiv").innerHTML = pastashtml;
    };
    function showsalads() {
    var saladshtml = ` <h3> Salad <h3> 
      <select form="addtocartform" name="firstdiv">
          {% for salad in salads %}
            <option value="{{ salad }}">{{ salad }}</option>
          {% endfor %}
        </select>`;
        document.getElementById("firstdiv").innerHTML = saladshtml;
    };

    function showsizes() {
      var sizeshtml = ` <h3> Size <h3> 
      <select id="selectsizes" form="addtocartform" name="firstdiv" onchange="sizeChange()">
          {% for size in sizes %}
            <option value="{{ size }}">{{ size }}</option>
          {% endfor %}
        </select>`;
        document.getElementById("firstdiv").innerHTML = sizeshtml;
        //alert(`${sizeshtml}`);
    };
    function sizeChange() {
      var category = document.getElementById("categorySelect").value;
      if (category === 'Dinner Platter') {
        showdinnerplatters();
      }
      else if (category === 'Sub') {
        showsubs();
      }
    };


    function showpizzatypes() {      
      var pizzatypeshtml = ` <h3> Pizza Type <h3> 
      <select name="seconddiv" form="addtocartform">
          {% for pizzatype in pizzatypes %}
            <option value="{{ pizzatype }}">{{ pizzatype }}</option>
          {% endfor %}
        </select>`;
        document.getElementById("seconddiv").innerHTML = pizzatypeshtml;
        //alert(`${pizzatypeshtml}`);
    };
    function showtoppings() {      
      var toppingshtml = ` <h3> Toppings <h3> 
        <ul>
          {% for topping in toppings %}
            
            <li><label for="{{topping}}"><input type="checkbox" name="thirddiv" id="{{topping}}" form="addtocartform" value="{{ topping }}"">{{topping}}</label></li>
            
          {% endfor %}
        </center>  `;
        document.getElementById("thirddiv").innerHTML = toppingshtml;
        //alert(`${pizzatypeshtml}`);
    };    

    function addToCart() {
      const request = new XMLHttpRequest();
                request.open('POST', '/sendchatmessage');                               

                // Add start and end points to request data.
                const data = new FormData();
                data.append('displayname', localStorage.getItem('displayname'));
                data.append('currentchannel', localStorage.getItem("currentchannel"));                
                data.append('chattext', document.querySelector('#chattext').value);
                
                // Send request.
                request.send(data);
                document.querySelector('#chattext').value = '';
    };

    document.addEventListener('DOMContentLoaded', () => {        
    $('input[type=checkbox]').on('change', function (e) {            
      if ($('input[type=checkbox]:checked').length > 5) {
          $(this).prop('checked', false);
          alert("allowed only 5");
        }
      });         
    });
  </script>
{% endblock %}

{% block body %}
welcome, {{ user.username }}

<a href="{% url 'logout' %}">Log out</a>

<div id="main">
<table width="100%">
<tbody>
<tr>
<td width="50%">
<div class="callout">
<h2>Our Menu</h2><div class="internalmenunav">
<a href="#regular_pizza">Regular Pizza</a> |
<a href="#sicilian_pizza">Sicilian Pizza</a> |
<a href="#toppings">Toppings</a> |
<a href="#subs">Subs</a> |
<a href="#pasta">Pasta</a> |
<a href="#salad">Salad</a> |
<a href="#dinner">Dinner Platters</a> 
</div>	<table width="100%" class="foodmenu">
 <tbody>
   <tr>
 <th colspan="3"><a name="regular_pizza">Regular Pizza</a></th>
   </tr>
   <tr>
 <td></td>
 {% if sizes %}
  {% for size in sizes %}
    <td>{{ size }}</td>
  {% endfor %}
{% endif %}
 <!-- <td>Small</td>
 <td>Large</td> -->
   </tr>	      <tr>
 <td width="50%">Cheese</td>
 <td width="25%">12.70</td>
 <td width="25">17.95</td>
   </tr>	      <tr>
 <td width="50%">1 topping</td>
 <td width="25%">13.70</td>
 <td width="25">19.95</td>
   </tr>	      <tr>
 <td width="50%">2 toppings</td>
 <td width="25%">15.20</td>
 <td width="25">21.95</td>
   </tr>	      <tr>
 <td width="50%">3 toppings</td>
 <td width="25%">16.20</td>
 <td width="25">23.95</td>
   </tr>	      <tr>
 <td width="50%">Special</td>
 <td width="25%">17.75</td>
 <td width="25">25.95</td>
   </tr>	    </tbody>
</table><div class="internalmenunav">
<a href="#regular_pizza">Regular Pizza</a> |
<a href="#sicilian_pizza">Sicilian Pizza</a> |
<a href="#toppings">Toppings</a> |
<a href="#subs">Subs</a> |
<a href="#pasta">Pasta</a> |
<a href="#salad">Salad</a> |
<a href="#dinner">Dinner Platters</a> 
</div>	  <table width="100%" class="foodmenu">
 <tbody>
   <tr>
 <th colspan="3"><a name="sicilian_pizza">Sicilian Pizza</a></th>
   </tr>
   <tr>
 <td></td>
 <td>Small</td>
 <td>Large</td>
   </tr>	      <tr>
 <td width="50%">Cheese</td>
 <td width="25%">24.45</td>
 <td width="25">38.70</td>
   </tr>	      <tr>
 <td width="50%">1 item</td>
 <td width="25%">26.45</td>
 <td width="25">40.70</td>
   </tr>	      <tr>
 <td width="50%">2 items</td>
 <td width="25%">28.45</td>
 <td width="25">42.70</td>
   </tr>	      <tr>
 <td width="50%">3 items</td>
 <td width="25%">29.45</td>
 <td width="25">44.70</td>
   </tr>	      <tr>
 <td width="50%">Special</td>
 <td width="25%">30.45</td>
 <td width="25">45.70</td>
   </tr>	    </tbody>
</table><div class="internalmenunav">
<a href="#regular_pizza">Regular Pizza</a> |
<a href="#sicilian_pizza">Sicilian Pizza</a> |
<a href="#toppings">Toppings</a> |
<a href="#subs">Subs</a> |
<a href="#pasta">Pasta</a> |
<a href="#salad">Salad</a> |
<a href="#dinner">Dinner Platters</a> 
</div>	  
<table width="100%" class="toppingmenu">
  <tbody>
    <tr>
      <th colspan="2"><a name="toppings">Toppings</a></th>
    </tr>	      
       
      {% for topping in toppings %}
        <tr> 
          <td width="50%">
            {{topping}}
          </td>
        </tr>
      {% endfor %}	      	    
  </tbody>
</table>
<div class="internalmenunav">
<a href="#regular_pizza">Regular Pizza</a> |
<a href="#sicilian_pizza">Sicilian Pizza</a> |
<a href="#toppings">Toppings</a> |
<a href="#subs">Subs</a> |
<a href="#pasta">Pasta</a> |
<a href="#salad">Salad</a> |
<a href="#dinner">Dinner Platters</a> 
</div>	  <table width="100%" class="foodmenu">
 <tbody>
   <tr>
 <th colspan="3"><a name="subs">Subs</a></th>
   </tr>
   <tr>
 <td></td>
 <td>Small</td>
 <td>Large</td>
   </tr>	      <tr>
 <td style="text-align: left;" width="50%">Cheese</td>
 <td width="25%">6.50</td>
 <td width="25">7.95</td>
   </tr>	      <tr>
 <td style="text-align: left;" width="50%">Italian</td>
 <td width="25%">6.50</td>
 <td width="25">7.95</td>
   </tr>	      <tr>
 <td style="text-align: left;" width="50%">Ham + Cheese</td>
 <td width="25%">6.50</td>
 <td width="25">7.95</td>
   </tr>	      <tr>
 <td style="text-align: left;" width="50%">Meatball</td>
 <td width="25%">6.50</td>
 <td width="25">7.95</td>
   </tr>	      <tr>
 <td style="text-align: left;" width="50%">Tuna</td>
 <td width="25%">6.50</td>
 <td width="25">7.95</td>
   </tr>	      <tr>
 <td style="text-align: left;" width="50%">Turkey</td>
 <td width="25%">7.50</td>
 <td width="25">8.50</td>
   </tr>	      <tr>
 <td style="text-align: left;" width="50%">Chicken Parmigiana</td>
 <td width="25%">7.50</td>
 <td width="25">8.50</td>
   </tr>	      <tr>
 <td style="text-align: left;" width="50%">Eggplant Parmigiana</td>
 <td width="25%">6.50</td>
 <td width="25">7.95</td>
   </tr>	      <tr>
 <td style="text-align: left;" width="50%">Steak</td>
 <td width="25%">6.50</td>
 <td width="25">7.95</td>
   </tr>	      <tr>
 <td style="text-align: left;" width="50%">Steak + Cheese</td>
 <td width="25%">6.95</td>
 <td width="25">8.50</td>
   </tr>	      <tr>
 <td style="text-align: left;" width="50%">+ Mushrooms</td>
 <td width="25%">+0.50</td>
 <td width="25">+0.50</td>
   </tr>	      <tr>
 <td style="text-align: left;" width="50%">+ Green Peppers</td>
 <td width="25%">+0.50</td>
 <td width="25">+0.50</td>
   </tr>	      <tr>
 <td style="text-align: left;" width="50%">+ Onions</td>
 <td width="25%">+0.50</td>
 <td width="25">+0.50</td>
   </tr>	      <tr>
 <td style="text-align: left;" width="50%">Sausage, Peppers & Onions</td>
 <td width="25%"></td>
 <td width="25">8.50</td>
   </tr>	      <tr>
 <td style="text-align: left;" width="50%">Hamburger</td>
 <td width="25%">4.60</td>
 <td width="25">6.95</td>
   </tr>	      <tr>
 <td style="text-align: left;" width="50%">Cheeseburger</td>
 <td width="25%">5.10</td>
 <td width="25">7.45</td>
   </tr>	      <tr>
 <td style="text-align: left;" width="50%">Fried Chicken</td>
 <td width="25%">6.95</td>
 <td width="25">8.50</td>
   </tr>	      <tr>
 <td style="text-align: left;" width="50%">Veggie</td>
 <td width="25%">6.95</td>
 <td width="25">8.50</td>
   </tr>	      <tr>
 <td style="text-align: left;" width="50%">Extra Cheese on any sub</td>
 <td width="25%">+0.50</td>
 <td width="25">+0.50</td>
   </tr>	    </tbody>
</table><div class="internalmenunav">
<a href="#regular_pizza">Regular Pizza</a> |
<a href="#sicilian_pizza">Sicilian Pizza</a> |
<a href="#toppings">Toppings</a> |
<a href="#subs">Subs</a> |
<a href="#pasta">Pasta</a> |
<a href="#salad">Salad</a> |
<a href="#dinner">Dinner Platters</a> 
</div>	  <table width="100%" class="foodmenu">
 <tbody>
   <tr>
 <th colspan="3"><a name="pasta">Pasta</a></th>
   </tr>
   <tr>
 <td></td>
 <td> </td>
   </tr>	      <tr>
 <td style="text-align: left;" width="50%">Baked Ziti w/Mozzarella</td>
 <td width="25%">6.50</td>
   </tr>	      <tr>
 <td style="text-align: left;" width="50%">Baked Ziti w/Meatballs</td>
 <td width="25%">8.75</td>
   </tr>	      <tr>
 <td style="text-align: left;" width="50%">Baked Ziti w/Chicken</td>
 <td width="25%">9.75</td>
   </tr>	    </tbody>
</table><div class="internalmenunav">
<a href="#regular_pizza">Regular Pizza</a> |
<a href="#sicilian_pizza">Sicilian Pizza</a> |
<a href="#toppings">Toppings</a> |
<a href="#subs">Subs</a> |
<a href="#pasta">Pasta</a> |
<a href="#salad">Salad</a> |
<a href="#dinner">Dinner Platters</a> 
</div>	  <table width="100%" class="foodmenu">
 <tbody>
   <tr>
 <th colspan="3"><a name="salad">Salads</a></th>
   </tr>
   <tr>
 <td></td>
 <td></td>
   </tr>	      <tr>
 <td style="text-align: left;" width="50%">Garden Salad</td>
 <td width="25%">6.25</td>
   </tr>	      <tr>
 <td style="text-align: left;" width="50%">Greek Salad</td>
 <td width="25%">8.25</td>
   </tr>	      <tr>
 <td style="text-align: left;" width="50%">Antipasto</td>
 <td width="25%">8.25</td>
   </tr>	      <tr>
 <td style="text-align: left;" width="50%">Salad w/Tuna</td>
 <td width="25%">8.25</td>
   </tr>	    </tbody>
</table><div class="internalmenunav">
<a href="#regular_pizza">Regular Pizza</a> |
<a href="#sicilian_pizza">Sicilian Pizza</a> |
<a href="#toppings">Toppings</a> |
<a href="#subs">Subs</a> |
<a href="#pasta">Pasta</a> |
<a href="#salad">Salad</a> |
<a href="#dinner">Dinner Platters</a> 
</div>	  <table width="100%" class="foodmenu">
 <tbody>
   <tr>
 <th colspan="3"><a name="dinner">Dinner Platters</a></th>
   </tr>
   <tr>
 <td></td>
 <td></td>
   </tr>	      <tr>
 <td style="text-align: left;" width="50%">Garden Salad</td>
 <td width="25%">Small  $40.00  Large  $65.00</td>
   </tr>	      <tr>
 <td style="text-align: left;" width="50%">Greek Salad</td>
 <td width="25%">Small $50.00  Large  $75.00</td>
   </tr>	      <tr>
 <td style="text-align: left;" width="50%">Antipasto</td>
 <td width="25%">Small $50.00 Large $75.00</td>
   </tr>	      <tr>
 <td style="text-align: left;" width="50%">Baked Ziti</td>
 <td width="25%">Small $40.00 Large $65.00</td>
   </tr>	      <tr>
 <td style="text-align: left;" width="50%">Meatball Parm</td>
 <td width="25%">Small $50.00 Large $75.00</td>
   </tr>	      <tr>
 <td style="text-align: left;" width="50%">Chicken Parm</td>
 <td width="25%">Small $55.00 Large $85.00</td>
   </tr>	    </tbody>
</table><div class="internalmenunav">
<a href="#regular_pizza">Regular Pizza</a> |
<a href="#sicilian_pizza">Sicilian Pizza</a> |
<a href="#toppings">Toppings</a> |
<a href="#subs">Subs</a> |
<a href="#pasta">Pasta</a> |
<a href="#salad">Salad</a> |
<a href="#dinner">Dinner Platters</a> 
</div>	</div>
</td>

<td> 
  <div class="callout">
    <h2>Order</h2>	<HR> 
      
      <h2> What would you like to order?</h2><BR>
      
      <h2>  <select name="categoryName" id="categorySelect" onchange="categoryChange()" form="addtocartform">
          <option value="nothing" class="categoryoption""></option>
          {% for category in categories %}
            <option value="{{ category }}" class="categoryoption"">{{ category }}</option>
          {% endfor %}
        </select>
        <BR></h2>
        
          <div id="firstdiv">

            </div>
            <div id="seconddiv">

            </div>
            <div id="thirddiv">

            </div>
            <BR>
            <form action="{% url 'addtocart' %}" method="POST" id="addtocartform">
              {% csrf_token %}
            <input type="submit" value="add to cart">
        </form>

     
  </div>
</td>
</tr>
</tbody>
</table>
</div>
{% endblock %}